* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

// @media screen (max-width: 400px) {
//     .container {
//         margin: 50px;
//         display: flex;
//         flex-wrap: wrap;
//         gap: 30px;
//     }
// }

.cardContainer {
    border: 1px solid gray;
    width: 250px;
    height: 420px;
    border-radius: 5px;
    background-color: white;

    @media (max-width: 768px) {
        width: 150px;
        height: 220px;
    }

    @media (max-width: 480px) {
        width: 50px;
        height: 100px;
    }

    .cardImg {
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-bottom: 1px solid gray;
    }

    .cardContainer_cardInfo {

        padding: 10px;

        h3 {
            font-weight: 600;
            color: gray;
        }

        span {
            font-weight: 500;
            color: gray;
        }
    }
}

.blackBg {
    width: 100vw;
    height: 90vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.3));
    position: absolute;
    z-index: 2;
}

.bgImg {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.detailContainer {
    position: absolute;
    z-index: 3;
    width: 1050px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 768px) {
        width: 700px;
    }

    @media (max-width: 480px) {
        width: 300px;
    }


    .movieInfo {
        width: 700px;
        height: 300px;
        padding: 20px;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 300px;
        }

        @media (max-width: 480px) {
            width: 100px;
        }

        .infoContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 50px;
                font-weight: 600;
            }

            .line {
                display: flex;
                justify-content: space-between;
            }

        }

        .voteAverage {
            margin-top: 10px;
            color: rgb(206, 47, 255);
        }
    }

    .poster {
        width: 300px;
        height: 450px;
        object-fit: cover;
        border-radius: 5px;
    }
}

.navBarContainer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: rgb(30, 30, 30);
    height: 50px;
    padding: 0 20px 0 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    position: fixed;
    z-index: 4;

    .navBarBtnContainer {
        display: flex;
        gap: 10px;

        .authBtn {
            width: 20px;
            background-color: rgb(206, 47, 255);
            font-size: 15px;
            font-weight: 500;
            width: 80px;
            height: 30px;
            border-radius: 5px;
        }
    }
}

.authContainer {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;

    h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .authFormContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .inputContainer {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                border: 1px solid gray;
                height: 40px;
                padding: 10px;
            }

        }

        .signBtn {
            width: 100%;
            background-color: rgb(206, 47, 255);
            font-size: 15px;
            font-weight: 500;
            height: 40px;
            border-radius: 5px;
            color: white;
            margin-top: 10px;
        }
    }

}

.searchBarContainer {
    position: fixed;
    width: 100vw;
    margin-top: 50px;
    padding: 50px 0 50px 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .searchInput {
        width: 900px;
        height: 50px;
        padding: 20px;
        background-color: transparent;
        border-bottom: 1px solid white;
    }

    .searchedMovies {
        display: flex;
        margin-top: 20px;
        z-index: 5;
        top: 200px;
        gap: 30px;
    }
}