* {
    box-sizing: border-box;
}

body {
    padding: 70px 50px;
}

@mixin moiveVoteAverageMixin {
    position: absolute;
    color: white;
    background: linear-gradient(135deg, rgb(139, 15, 255), rgb(255, 49, 255));
    padding: 5px 15px;
    border-radius: 100px;
    top: 3%;
    right: 3%;
    box-shadow: 3px 5px 7px 3px rgba(51, 0, 99, 0.3);
    font-size: 22px;
}

@mixin movieImg {
    width: 100%;
    object-fit: cover;
}

@mixin movieInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: 22px;
        font-weight: 600;
    }

    span {
        font-size: 17px;
    }
}

.container {
    .topRatedMovieContainer {
        .moiveVoteAverage {
            @include moiveVoteAverageMixin;
        }

        img {
            @include movieImg;
            height: 75vh;
        }

        .movieInfoContainer {
            @include movieInfoContainer;
        }

    }

    .popularMovieContainer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;

        @media (max-width: 1300px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 800px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }

        .movieCardContainer {
            position: relative;
            display: flex;
            flex-direction: column;

            .moiveVoteAverage {
                @include moiveVoteAverageMixin;
            }

            img {
                @include movieImg;
                height: 55vh;
            }

            .movieInfoContainer {
                @include movieInfoContainer;
            }
        }
    }
}